.comment {
	&:not(:first-child) {
		margin-top: var(--size-2);
	}
}

.commentBody {
	outline-offset: 5px;
}

.info {
	color: var(--neutral-400);

	.user,
	a:hover {
		text-decoration: underline;
	}

	.unfold {
		display: none;
	}

	@media (max-width: 639px) {
		& {
			scroll-margin-top: var(--size-12);
		}
	}
}

.content {
	overflow-wrap: anywhere;

	p,
	pre {
		margin-block: var(--size-2);
	}

	a {
		text-decoration: underline;
	}

	pre {
		overflow-x: auto;
		white-space: pre-wrap;
		font-size: var(--font-size-sm);
	}
}

.repliesContainer {
	display: flex;

	> .foldButton {
		flex: 0;
		min-width: var(--size-8);
		border-left: 2px dashed var(--neutral-200);
		transition: border-color 100ms;

		&:hover {
			border-color: var(--orange-200);
		}

		@media (max-width: 639px) {
			& {
				min-width: var(--size-6);
			}
		}
	}
}

.comment[data-folded="true"] {
	.content,
	.repliesContainer,
	.fold {
		display: none;
	}

	.unfold {
		display: block;
	}
}

.dark .repliesContainer > .foldButton {
	& {
		border-color: var(--neutral-700);
	}

	&:hover {
		border-color: var(--neutral-400);
	}
}
